{% extends "base.html" %}

{% block title %}Register Vehicle (Deprecated) - AgencySales Pro{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning">
                <h4 class="alert-heading">Register Vehicle Deprecated</h4>
                <p>This form has been deprecated. Vehicle management is disabled in the UI. If you need to associate something with a customer, create a work order from the Service Work Orders section instead.</p>
                <hr>
                <p class="mb-0">Go to <a href="{{ url_for('service.list_work_orders') }}">Service Work Orders</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}